@using BeFit.Services.Data.Interfaces
@inject IUserService userService
@{
	string? userFullName = await this.userService.GetFullNameByEmailAsync(this.User.Identity!.Name!);
}

<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-3">User:</div>
		<div class="col-4"><input type="text" id="userInput" value="@userFullName" /></div>
	</div>
	<div class="row">
		<div class="col-3">Your Message:</div>
		<div class="col-5"><input type="text" id="messageInput" /></div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-6">
			<input type="button" id="sendButton" value="Send Message" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-6">
		<ul id="messagesList"></ul>
	</div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>
	