@using BeFit.Services.Data.Interfaces
@using BeFit.Web.Infrastructure.Extensions

@inject ICoachService coachService
@{
	bool isUserCoach = await coachService.CoachExistsByUserIdAsync(this.User.GetId()!);
}

@model CoachCategoryDetailsViewModel
@{
	ViewData["Title"] = "Coach Category Details";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
	<div class="row">
		<p class="col-6">Name: @Model.Name</p>
		<p class="col-6">Coaches in this Category: @Model.Coaches</p>
	</div>
</div>
