@model BecomeCoachFormModel

@{
	ViewBag.Title = "Become Coach";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"]!.Errors.First().ErrorMessage
	</div>
}
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="form-group">
				<label asp-for="Age"></label>
				<input asp-for="Age" class="form-control"
					   placeholder="Age">
				<span asp-validation-for="Age" class="small textdanger"></span>

				<label asp-for="Gender"></label>
				<select asp-for="Gender" class="form-control">
					<option value="Male">Male</option>
					<option value="Male">Female</option>
					<option value="Other">Other</option>
				</select>
				<span asp-validation-for="Gender" class="small textdanger"></span>

				<label asp-for="Height"></label>
				<input asp-for="Height" class="form-control"
					   placeholder="Height">
				<span asp-validation-for="Height" class="small textdanger"></span>

				<label asp-for="Weight"></label>
				<input asp-for="Weight" class="form-control"
					   placeholder="Weight">
				<span asp-validation-for="Weight" class="small textdanger"></span>

				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" class="form-control"
					   placeholder="+359 888 8888 88">
				<span asp-validation-for="PhoneNumber" class="small textdanger"></span>

				<div class="form-group">
					<label asp-for="Description"></label>
					<textarea asp-for="Description" rows="4" class="form-control"
							  placeholder="Describe yourself..."></textarea>
					<span asp-validation-for="Description" class="small textdanger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="CoachCategoryId"></label>
				<select asp-for="CoachCategoryId" class="form-control">
					@foreach (var category in Model.CoachCategories)
					{
						<option value="@category.Id">@category.Name</option>
					}
				</select>
				<span asp-validation-for="CoachCategoryId" class="small textdanger"></span>
			</div>
			<div class="text-center">
				<input class="btn btn-primary mt-3 " type="submit" value="Save" />
			</div>
		</form>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}



