@using BeFit.Web.Infrastructure.Extensions
@model IEnumerable<AllEventCategoriesViewModel>
@{
	ViewData["Title"] = "All Categories";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="list-group">
	@foreach(AllEventCategoriesViewModel eventCategory in Model)
	{
		<a class="list-group-item list-group-item-action" asp-controller="EventCategory" asp-action="Details" asp-route-id="@eventCategory.Id" asp-route-information="@eventCategory.GetUrlInformation()">@eventCategory.Name</a>
	}
</div>
