@using BeFit.Services.Data.Interfaces
@using BeFit.Web.Infrastructure.Extensions

@inject ICoachService coachService
@{
	bool isUserCoach = await coachService.CoachExistsByUserIdAsync(this.User.GetId()!);
}

@model CoachCategoryDetailsViewModel
@{
	ViewData["Title"] = "Coach Category Details";
}

@if (isUserCoach)
{
	<h2 class="text-center">@ViewData["Title"]</h2>
	<hr />

	<div class="container-fluid">
		<div class="row">
			<p class="col-6">Name: @Model.Name</p>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<br>
			<div class="row">
				<div class="col-10">
					<img src="https://zuziko.com/wp-content/uploads/Fix-WordPress-401-Error.png" alt="Error 401" class="img-thumbnail">
					<div class="text-left h4">
						<p>Oops, you don't have access here.</p>
					</div>
					<div class="text-left h4"> Go back to <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> Page</div>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
}
