@model EventFormModel
@{
	ViewData["Title"] = "Add Event";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_EventFormPartial" model="@Model"/>

@section Scripts
{
	<partial name="_ValidationScriptsPartial"/>
}
