@model MyEventsViewModel
@{
	ViewBag.Title = "My Events";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<h4>My Added Events</h4>
@if (!Model.AddedEvents.Any())
{
	<h2 class="text-center">You have no added events yet!</h2>
}
<div class="row">
	@foreach (var even in Model.AddedEvents)
	{
		@await Html.PartialAsync("~/Views/Shared/_EventPartial.cshtml", even)
	}
</div>
<h4>My Joined Events</h4>
@if (!Model.JoinedEvents.Any())
{
	<h2 class="text-center">You have no joined events yet!</h2>
}
<div class="row">
	@foreach (var even in Model.JoinedEvents)
	{
		@await Html.PartialAsync("~/Views/Shared/_EventPartial.cshtml", even)
	}
</div>
